- id: '1675044848290'
  alias: Service ~ HomeKit remote
  description: ''
  triggers:
  - event_data: {}
    event_type: homekit_tv_remote_key_pressed
    trigger: event
  conditions: []
  actions:
  - target:
      entity_id: remote.sony_bravia_tv
    data_template:
      command: '{% set key_map = {''arrow_right'': ''Right'', ''arrow_down'' : ''Down'',
        ''arrow_left'': ''Left'', ''arrow_up'': ''Up'',  ''select'': ''Confirm'',
        ''back'': ''Return'', ''information'': ''ActionMenu'', ''play_pause'': ''Pause''}
        %} {{ key_map[trigger.event.data[''key_name'']] }}'
    action: remote.send_command
  mode: single
- id: '1676219292630'
  alias: Service ~ Soundbar state retry
  description: ''
  triggers:
  - entity_id:
    - media_player.sony_bravia_soundbar
    to: unavailable
    for:
      hours: 0
      minutes: 0
      seconds: 0
    trigger: state
  conditions: []
  actions:
  - repeat:
      while:
      - condition: state
        entity_id: media_player.sony_bravia_soundbar
        state: unavailable
      sequence:
      - action: homeassistant.update_entity
        data:
          entity_id:
          - media_player.sony_bravia_soundbar
      - delay:
          seconds: "{% if repeat.index <= 3 %}\n  30\n{% else %}\n  {{ (repeat.index
            - 3) * 60 }}\n{% endif %}\n"
- id: '1676749516511'
  alias: Service ~ Synology notification webhooks
  description: ''
  triggers:
  - webhook_id: -N6sCfSeacLHxc9gZrCFqAFKA
    allowed_methods:
    - POST
    - PUT
    local_only: true
    trigger: webhook
  conditions: []
  actions:
  - data:
      title: Synology Webhook
      message: '{{trigger.json.msg}}'
    enabled: true
    action: notify.persistent_notification
  - data:
      message: '{{trigger.json.msg}}'
      entity_id: notify.ecobee3_lite
    enabled: false
    action: notify.send_message
  mode: single
- id: '1676825787825'
  alias: Automation ~ Button
  description: ''
  triggers:
  - event_type: xiaomi_aqara.click
    trigger: event
  conditions:
  - condition: template
    value_template: '{{ trigger.event.data[''entity_id''] == ''binary_sensor.switch_158d0001839557''
      }}'
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''single'' }}'
      sequence:
      - data: {}
        action: script.1684781465122
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''double'' }}'
      sequence:
      - data: {}
        action: script.1684781523698
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''long_click_press''
          }}'
      sequence:
      - action: script.sleep_time
        data: {}
  mode: single
- id: '1676827020196'
  alias: Automation ~ Door
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.door_window_sensor_158d000125cd3f
    trigger: state
  - entity_id:
    - binary_sensor.sensor_contact
    trigger: state
  conditions: []
  actions:
  - if:
    - condition: or
      conditions:
      - condition: state
        entity_id: binary_sensor.sensor_contact
        state: 'on'
      - condition: state
        entity_id: binary_sensor.door_window_sensor_158d000125cd3f
        state: 'on'
    then:
    - data:
        brightness_pct: 100
        rgb_color:
        - 255
        - 207
        - 121
      target:
        entity_id: light.hue_color_lamp_2
      action: light.turn_on
    else:
    - data:
        transition: 60
      action: light.turn_off
      target:
        entity_id: light.hue_color_lamp_2
  mode: single
- id: '1697054346762'
  alias: Automation ~ Motion
  description: ''
  triggers:
  - type: motion
    device_id: 9c72568d03d59ca8db1404dcb7e09e04
    entity_id: 6ec8f62681b26b33ad94b005b162279b
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: 00:00:00
  - condition: sun
    before: sunrise
  actions:
  - data:
      scene_id: pre_motion_light_state
      snapshot_entities:
      - light.hue_signe_table_1
    action: scene.create
  - target:
      entity_id: light.hue_signe_table_1
    data:
      rgb_color:
      - 255
      - 137
      - 11
      brightness_pct: 20
    action: light.turn_on
  - delay:
      hours: 0
      minutes: 2
      seconds: 0
      milliseconds: 0
  - target:
      entity_id: scene.pre_motion_light_state
    action: scene.turn_on
    data: {}
- id: '1755986707318'
  alias: Party ~ Track light pulse
  triggers:
  - entity_id: input_boolean.party_scene
    to: 'on'
    trigger: state
  actions:
  - data:
      scene_id: pre_track_light_state
      snapshot_entities: '{{ target_lights }}'
    action: scene.create
  - repeat:
      until:
      - condition: state
        entity_id: input_boolean.party_scene
        state: 'off'
      sequence:
      - variables:
          new_hue: '{{ range(0, 360) | random }}'
      - target:
          entity_id: '{{ target_lights }}'
        data:
          hs_color:
          - '{{ new_hue }}'
          - 100
          brightness: 254
          transition: '{{ transition_time }}'
        action: light.turn_on
      - delay:
          seconds: '{{ delay_time }}'
      - target:
          entity_id: '{{ target_lights }}'
        data:
          hs_color:
          - '{{ new_hue }}'
          - 100
          brightness: 50
          transition: '{{ transition_time / 2 }}'
        action: light.turn_on
      - delay:
          seconds: '{{ delay_time / 2 }}'
  - action: scene.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: scene.pre_track_light_state
  variables:
    transition_time: 2
    delay_time: 3
    target_lights:
    - light.track_light
  mode: restart
- id: '1760666721422'
  alias: Party ~ Party light
  description: ''
  use_blueprint:
    path: Twanne/party_lights.yaml
    input:
      party_mode_trigger: input_boolean.party_scene
      target_lights:
      - light.hue_color_lamp_1
      - light.hue_play_1
      - light.hue_play_2
      - light.hue_signe_table_1
      - light.hue_color_lamp_2
      - light.track_light
      time_between_changes:
        hours: 0
        minutes: 0
        seconds: 3
        milliseconds: 0
      transition_time: 2
      color_mode: random
      brightness_mode: random
      fixed_brightness_pct: 40
      max_brightness_pct: 100
      input_sync_lights: false
      min_brightness_pct: 60
- id: '1760889044383'
  alias: Party ~ Lightstrip strobe
  description: ''
  triggers:
  - entity_id: input_boolean.party_scene
    to: 'on'
    trigger: state
  actions:
  - data:
      scene_id: pre_yeelight_state
      snapshot_entities: '{{ target_lights }}'
    action: scene.create
  - repeat:
      until:
      - condition: state
        entity_id: input_boolean.party_scene
        state: 'off'
      sequence:
      - repeat:
          for_each: '{{ effects_list }}'
          sequence:
          - target:
              entity_id: '{{ target_lights }}'
            data:
              effect: '{{ default_effect }}'
            action: light.turn_on
          - delay:
              seconds: '{{ delay_time / 2 }}'
          - target:
              entity_id: '{{ target_lights }}'
            data:
              effect: '{{ repeat.item }}'
            action: light.turn_on
          - delay:
              seconds: '{{ delay_time }}'
  - target:
      entity_id: scene.pre_yeelight_state
    action: scene.turn_on
  variables:
    delay_time: 10
    target_lights:
    - light.yeelight_lightstrip
    default_effect: Disco
    effects_list:
    - Strobe color
    - Strobe epilepsy!
  mode: restart
- id: '1761443757203'
  alias: Party ~ Party light 2
  description: ''
  triggers:
  - entity_id: input_boolean.party_scene
    to: 'on'
    trigger: state
  actions:
  - data:
      scene_id: pre_track_light_state
      snapshot_entities: '{{ set_a + set_b }}'
    action: scene.create
  - repeat:
      until:
      - condition: state
        entity_id: input_boolean.party_scene
        state: 'off'
      sequence:
      - variables:
          new_hue: '{{ range(0, 360) | random }}'
      - target:
          entity_id: '{{ set_a }}'
        data:
          hs_color:
          - '{{ new_hue }}'
          - 100
          brightness: 255
          transition: '{{ transition_time }}'
        action: light.turn_on
      - target:
          entity_id: '{{ set_b }}'
        data:
          transition: '{{ transition_time }}'
        action: light.turn_off
      - delay:
          seconds: '{{ delay_time / 2 }}'
      - target:
          entity_id: '{{ set_b }}'
        data:
          hs_color:
          - '{{ new_hue }}'
          - 100
          brightness: 255
          transition: '{{ transition_time }}'
        action: light.turn_on
      - target:
          entity_id: '{{ set_a }}'
        data:
          transition: '{{ transition_time }}'
        action: light.turn_off
      - delay:
          seconds: '{{ delay_time / 2 }}'
  - target:
      entity_id: scene.pre_track_light_state
    action: scene.turn_on
  variables:
    transition_time: 0.5
    delay_time: 4
    set_a:
    - light.track_light
    - light.hue_color_lamp_2
    set_b:
    - light.hue_color_lamp_1
    - light.hue_play_1
    - light.hue_play_2
    - light.hue_signe_table_1
  mode: restart
