- id: '1675044848290'
  alias: 'Automation: HomeKit Remote'
  description: ''
  trigger:
  - event_data: {}
    event_type: homekit_tv_remote_key_pressed
    platform: event
  condition: []
  action:
  - service: remote.send_command
    target:
      entity_id: remote.sony_bravia_tv
    data_template:
      command: '{% set key_map = {''arrow_right'': ''Right'', ''arrow_down'' : ''Down'',
        ''arrow_left'': ''Left'', ''arrow_up'': ''Up'',  ''select'': ''Confirm'',
        ''back'': ''Return'', ''information'': ''ActionMenu'', ''play_pause'': ''Pause''} %} {{ key_map[trigger.event.data[''key_name'']]
        }}'
  mode: single
- id: '1676219292630'
  alias: 'Automation: Soundbar Retry'
  description: ''
  trigger:
  - platform: state
    entity_id:
    - media_player.sony_bravia_soundbar
    to: unavailable
    for:
      hours: 0
      minutes: 0
      seconds: 0
  condition: []
  action:
  - repeat:
      while:
      - condition: state
        entity_id: media_player.sony_bravia_soundbar
        state: unavailable
      sequence:
      - service: homeassistant.update_entity
        data: {}
        target:
          entity_id: media_player.sony_bravia_soundbar
      - delay:
          hours: 0
          minutes: 0
          seconds: 30
          milliseconds: 0
  mode: single
- id: '1676749516511'
  alias: 'Notification: Synology Webhook'
  description: ''
  trigger:
  - platform: webhook
    webhook_id: -N6sCfSeacLHxc9gZrCFqAFKA
    allowed_methods:
    - POST
    - PUT
    local_only: true
  condition: []
  action:
  - service: notify.persistent_notification
    data:
      title: Synology Webhook
      message: '{{trigger.json.msg}}'
    enabled: false
  - service: notify.send_message
    data:
      message: '{{trigger.json.msg}}'
      entity_id: notify.ecobee3_lite
  mode: single
- id: '1676825787825'
  alias: 'Automation: Button'
  description: ''
  trigger:
  - event_type: xiaomi_aqara.click
    platform: event
  condition:
  - condition: template
    value_template: '{{ trigger.event.data[''entity_id''] == ''binary_sensor.switch_158d0001839557''
      }}'
  action:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''single'' }}'
      sequence:
      - if:
        - condition: template
          value_template: '{{ state_attr(''light.hue_ambiance_lamp_2'', ''brightness'')
            == 255 }} '
        then:
        - service: light.turn_off
          data:
            transition: 1
          target:
            entity_id: light.hue_ambiance_lamp_2
        else:
        - service: light.turn_on
          data:
            brightness_step_pct: 25
            transition: 1
          target:
            entity_id: light.hue_ambiance_lamp_2
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''double'' }}'
      sequence:
      - service: script.1684781465122
        data: {}
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data[''click_type''] == ''long_click_press''
          }}'
      sequence:
      - service: script.1684781523698
        data: {}
  mode: single
- id: '1676827020196'
  alias: 'Automation: Door'
  description: ''
  trigger:
  - entity_id: binary_sensor.door_window_sensor_158d000125cd3f
    platform: state
  condition: []
  action:
  - if:
    - condition: state
      entity_id: binary_sensor.door_window_sensor_158d000125cd3f
      state: 'on'
    then:
    - service: light.turn_on
      data:
        rgb_color:
        - 255
        - 0
        - 0
        brightness_pct: 100
      target:
        entity_id: light.gateway_light_34ce00837eef
    else:
    - service: light.turn_off
      entity_id: light.gateway_light_34ce00837eef
      data: {}
  mode: single
- id: '1697054346762'
  alias: 'Automation: Motion'
  description: ''
  trigger:
  - type: motion
    platform: device
    device_id: 9c72568d03d59ca8db1404dcb7e09e04
    entity_id: 6ec8f62681b26b33ad94b005b162279b
    domain: binary_sensor
  condition:
  - condition: sun
    after: sunset
    before: sunrise
  action:
  - service: light.turn_on
    data:
      rgb_color:
      - 255
      - 191
      - 140
      brightness_pct: 40
    target:
      entity_id: light.gateway_light_34ce00837eef
  - delay:
      hours: 0
      minutes: 1
      seconds: 30
      milliseconds: 0
  - service: light.turn_off
    data: {}
    target:
      entity_id: light.gateway_light_34ce00837eef
  mode: single
