default_config:
script: !include scripts.yaml
scene: !include scenes.yaml
automation: !include automations.yaml
frontend:
  themes:
    !include_dir_merge_named themes
lovelace:
  resource_mode: yaml
  resources:
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/simple-thermostat/simple-thermostat.js
      type: module
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
  # dashboards:
  #   lovelace:
  #     mode: yaml
  #     filename: ui-lovelace.yaml
  #     title: Overview
  #     icon: mdi:view-dashboard
  #     show_in_sidebar: false

influxdb:
  api_version: 2
  ssl: false
  host: !secret influxdb_hostname
  port: !secret influxdb_port
  token: !secret influxdb_token
  organization: home
  bucket: Home Assistant
